* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./imgs/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.painel {
    background-color: tomato;
    border: 5px solid brown ;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 30px;
    box-shadow: 3px 3px 15px black;
}

.frontal {
    width: 45%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

}

#pokebola {
    width: 50px;

}

#tela {
    margin: auto;
    background-color: lightcoral;
    background-image: url(./imgs/fundo\ pokemon.avif);
    z-index: -1;
    background-size: cover;
    border: 5px solid brown;
    width: 300px;
    height: 285px;
    margin-bottom: 10px;
    border-radius: 10px;
    animation: carregar 5s alternate;

}
@keyframes carregar {
    0% { height: 0;}
    100%  { }
    
}

p, h2{
    background-color: rgba(0, 0, 0, 0.4);
    width: 250px;
    margin: auto;
}

p { margin: auto; }

h2 { 
    margin: 40px auto;
    border-radius: 10px;

}

#entrada{
    height: 30px;
    text-align: center;
    border-radius: 10px;
    width: 210px;

}

button {
    height: 35px;
    margin: 7px;
    background-color: black;
    color: white;
    border: 3px solid gray;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    width: 80px;

}

.rodape{
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
}

button:hover{
    background-color: black;
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 1px 1px 5px black;
}

